---

---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<a href="/">Home</a>
		<a href="/about">About</a>
		<a href="/blog">Blog</a>

		<h1> Sobre mi</h1>

        <h2> ... ยก y mi nuevo sitio Astro !</h2>

        <p>estoy trabajando en el tutorial de la introduccion de astro. Este es mi segunda pagina de mi sitio web, y !esto es lo que hablara sobre mi!</p>

        <p>este sitio se actualizara como complete mas del tutorial,sigue visitandome y mira como es mi viaje</p>
	</body>
</html>
