---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting.jsx';

const title = 'Mi Sitio Web Con Astro';
---

<BaseLayout pageTitle={title}>

	<h2>Mi asombroso blog</h2>
	<Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
</BaseLayout>